body{
  text-align:center;
  font-size:30px;
  background:linear-gradient(#E1BEE7 0%, #90CAF9 100%);
  backround-repeat: no-repeat;
}
#profile{
  border-radius:50%;
}
h1{
  color:#4A148C;
   text-shadow:2px 2px #EC407A;
}
h2{
  color:#9C27B0;
}
p{
  padding:20px;
  text-align:left;
}
.line {
    height: 6px;
    background-color: #9C27B0;
    width: 150px;
    margin: 8px auto;
}